
  <mat-nav-list>
    <a mat-list-item routerLink="/search" routerLinkActive="active-list-item">
      <span matListItemTitle>{{'Keresés' | uppercase}}</span>
    </a>
    @if (isLoggedIn) {
      <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item">
        <span matListItemTitle>{{'Profil' | uppercase}}</span>
      </a>
    }
    @if (isLoggedIn) {
      <a mat-list-item routerLink="/bookings" routerLinkActive="active-list-item">
        <span matListItemTitle>{{'Foglalásaim' | uppercase}}</span>
      </a>
    }
    @if (isLoggedIn) {
      <a mat-list-item routerLink="/search" routerLinkActive="active-list-item" (click)="logout()">
        <span matListItemTitle>{{'Kijelentkezés' | uppercase}}</span>
      </a>
    }
    @if (!isLoggedIn) {
      <a mat-list-item routerLink="/login" routerLinkActive="active-list-item">
        <span matListItemTitle>{{'Bejelentkezés' | uppercase}}</span>
      </a>
    }
    @if (!isLoggedIn) {
      <a mat-list-item routerLink="/signup" routerLinkActive="active-list-item">
        <span matListItemTitle>{{'Regisztráció' | uppercase}}</span>
      </a>
    }
  </mat-nav-list>