body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f7f8; // világos háttér, cyan témához illő
  color: #212121; // jól olvasható, sötét szöveg
}

html, body {
  height: 100%;
}


mat-sidenav-container {
  background-color: #f5f5f5 !important;
}

